@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  margin: 0;
  font-family: "Acme", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  display: flex;
  justify-content: center;
}

.about{
  margin: 20px;
}
.Card{
  width:206px;
  height: auto;
  background-color: #F3D2FF;
  border-radius: 20px;
}

.Card-Content{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}

.Card img{
  width: 206px;
  height: 193px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.Card p{
  margin-left: 10px ;
}


